<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <!--Tabla con EJS-->
  <body>
    <!-- Formulario de busqueda -->
    <form action="/find" method="POST"> <!--RECORDEMOS QUE EL MÉTODO DEBE COINCIDIR CON NUESTRO ENDPOINT -->
      <label for="criterio">CRITERIO: </label>
      <input type="text" id="criteria" name="criteria"><br><br>
      <input type="submit" value="Buscar">
    </form>

    <h1>Catálogo de personas</h1>
    <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>EDAD</th>
          <th>TIPO DE SANGRE</th>
          <th>NSS</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% Object.keys(Persons).forEach(function(prop)  { %>
        <tr>
          <td><%= Persons[prop].nombre %></td>
          <td><%= Persons[prop].edad %></td>
          <td><%= Persons[prop].tipoSangre %></td>
          <td><%= Persons[prop].nss %></td>

          <td>
            <a href="<%= `deletePerson/${Persons[prop]._id}` %>">Borrar</a>
          </td>

          <td>
            <a href="<%= `findById/${Persons[prop]._id}` %>">Editar</a>
          </td>

        </tr>
        <% }); %>
      </tbody>
      
    </table>
    <a href="./addItem">Agregar</a>
  </body>
</html>